td{
    max-width: 50px !important;
}

.cell-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .autosuggest-container {
    position: relative;
   margin-bottom: 30px;
  }
  
  .autosuggest-suggestions-container {
    position: relative;
    top: 100%;
    z-index: 1;
    background-color: #d3d3d3;
    border: rgba(0, 0, 0, 0.85);
  }
  